.Navigation {
  font-size: 1.4rem;
}
.Navigation__link,
.Navigation__link:visited {
  color: #fff;
}

.Navigation__popoverInner {
  padding: 10px 10px 1px 10px;
  background-color: #fff;
  font-size: 1.7rem;
}
