.DashboardDetailSidebar {
  display: grid;
  grid-template-rows: 83px auto 270px;
  grid-template-areas:
    'DashboardDetailSidebar__headerContainer'
    'DashboardDetailSidebar__listContainer'
    'DashboardDetailSidebar__pagination';
}
.DashboardDetailSidebar__headerContainer {
  grid-area: DashboardDetailSidebar__headerContainer;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: rgb(239, 239, 239);
}
.DashboardDetailSidebar__listContainer {
  grid-area: DashboardDetailSidebar__listContainer;
  /* max-height: 75vh; */
  overflow: auto;
  border-top: 1px solid #e6e6e6;
}
.DashboardDetailSidebar__list {
  margin: 0;
  padding: 0;
}
.DashboardDetailSidebar__list > .DashboardDetailSidebarItem:first-of-type {
  border-top: none;
}
.DashboardDetailSidebar__pagination {
  grid-area: DashboardDetailSidebar__pagination;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}
